<head>
  <title>Administración</title>
</head>

<style>
  input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
</style>

<section id="acciones">
  <h1 class="text-center">Cotizaciones</h1>
  <div class="container d-grid gap-2">
    {{!-- <a class="btn btn-primary" role="button" href="/crear">Crear</a> --}}
    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
      data-bs-target="#modal-form">Crear cotización</button>
  </div>
</section>

<section id="formulario">
  <div class="modal fade" tabindex="-1" id="modal-form">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Crear cotización</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-check">
            <h6>Cliente</h6>
            <input class="form-check-input" type="checkbox" value=""
              id="check-client">
            <label class="form-check-label" for="check-client">
              Nuevo cliente
            </label>
          </div>
          <form id="existing-client">
            <select name="client-id" id="client-id" class="form-select"
              required>
            </select>
          </form>
          <hr>
          <form id="form-cotizacion">
            <h6>Condiciones</h6>
            <h6>Detalles</h6>
            <table id="table-detalles" class="table">
              <thead>
                <tr>
                  <th>Detalle</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                  <th>Total</th>
                  <th>Borrar</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary"
            id="btn-submit">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="hidden-stuff" class="d-none">
  <table>
    <tbody>
      <tr id="row-details">
        <td style="width: auto;"><input type="text"
            class="form-control detail-desc" name="details[][description]"
            required></td>
        <td style="width: 10%;"><input type="number"
            class="form-control detail-qty" name="details[][qty]:number"
            required></td>
        <td style="width: 15%;"><input type="number"
            class="form-control detail-price" name="details[][price]:number"
            required></td>
        <td style="width: 15%;"><input type="text" class="form-control"
            disabled>
        </td>
        <td style="width: 15%;"><button type="button" class="btn btn-warning"
            disabled>X</button></td>
      </tr>
    </tbody>
  </table>
  <form id="new-client">
    <div class="mb-3">
      <label for="name" class="form-label">Razón social /
        Cliente</label>
      <input type="text" class="form-control" name="name" id="name" required>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="person" class="form-label">Atención</label>
          <input type="text" class="form-control" name="person" id="person">
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="position" class="form-label">Cargo</label>
          <input type="text" class="form-control" name="position" id="position">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="address" class="form-label">Dirección</label>
          <input type="text" class="form-control" name="address" id="address">
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="phone" class="form-label">Teléfono</label>
          <input type="text" class="form-control" name="phone" id="phone">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="city" class="form-label">Ciudad</label>
          <input type="text" class="form-control" name="city" id="city">
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="rut" class="form-label">RUT</label>
          <input type="text" class="form-control" name="rut" id="rut">
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" id="email">
    </div>
  </form>
</div>

<script type="module">
  ///////////
  //Functions
  ///////////
  const addRow = () => {
    $('#row-details').clone().removeAttr('id')
      .appendTo('#table-detalles tbody');
  };

  const resetClient = () => {
    $('#form-cotizacion input').val('');
  };

  const resetDetails = () => {
    $('#table-detalles tbody').empty();
    addRow();
  };

  const rowIsEmpty = row => {
    return !rowHasInput(row);
  };

  const rowHasInput = row => {
    let bool = false;
    const childrenInput = row.find('input:not([disabled])');
    childrenInput.each((index, input) => {
      if ($(input).val() != '') bool = true;
    })
    return bool;
  };

  const rowIsFull = row => {
    let bool = true;
    const childrenInput = row.find('input:not([disabled])');
    childrenInput.each((index, input) => {
      if ($(input).val() == '') bool = false;
    })
    return bool;
  };

  const hasRowSiblings = row => {
    return row.siblings().length > 0;
  };

  ////////////////
  //Event handlers
  ////////////////
  $('#modal-form').on('show.bs.modal', () => {
    resetClient();
    resetDetails();
  });

  $('#table-detalles').on('input', 'input', (event) => {
    const rows = $('#table-detalles tbody tr');
    const lastRow = rows.last();
    const currentRow = $(event.currentTarget).parents('tr');

    currentRow.find('button').prop('disabled', !rowIsFull(currentRow));

    if (rowIsFull(currentRow) && rowHasInput(lastRow)) {
      addRow();
    };

    if (rowIsEmpty(currentRow) && hasRowSiblings(currentRow)
      && !currentRow.is(lastRow)) currentRow.remove();
  });

  $('#table-detalles').on('click', 'button', (event) => {
    const currentRow = $(event.currentTarget).parents('tr');
    currentRow.remove();
  });

  $('#btn-submit').on('click', () =>
    $('#formulario form').first().trigger('submit'));

  $('#existing-client').on('submit', event => {
    event.preventDefault();
    const validity = event.target.reportValidity();
    if (!validity) return;
  });

  $('#new-client').on('submit', event => {
    event.preventDefault();
    const validity = event.target.reportValidity();
    if (!validity) return;
  });

  $('#form-cotizacion').on('submit', (event) => {
    event.preventDefault();
    let rows = $('#table-detalles tbody tr');
    let lastRow = rows.last();
    if (!rowHasInput(lastRow)) lastRow.remove();

    const validity = event.target.reportValidity();
    rows = $('#table-detalles tbody tr');
    lastRow = rows.last();
    if (!validity || rows.length == 0) {
      addRow();
      return;
    }

    const object = $('form').serializeJSON();
    object.details = object.details.slice(0, -1);
    console.log(object);

  });

  $('#check-client').on('change', (event) => {
    const isChecked = $(event.target).is(':checked');
    if (isChecked) {
      $('#new-client').insertAfter('#existing-client');
      $('#existing-client').appendTo('#hidden-stuff');
    } else {
      $('#existing-client').insertAfter('#new-client');
      $('#new-client').appendTo('#hidden-stuff');
    }
  });

</script>