<head>
  <title>Administración</title>
</head>

<style>
  input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
</style>

<section id="acciones">
  <h1 class="text-center">Cotizaciones</h1>
  <div class="container d-grid gap-2">
    {{!-- <a class="btn btn-primary" role="button" href="/crear">Crear</a> --}}
    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal"
      data-bs-target="#modal-form">Crear cotización</button>
  </div>
  <div class="container">
    <table class="table table-striped text-center" id="table-cotizaciones">
      <thead>
        <tr>
          <th style="width: 20%">Fecha</th>
          <th style="width: 15%">RUT</th>
          <th style="width: auto">Nombre</th>
          <th style="width: 15%">PDF</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</section>

<section id="formulario">
  <div class="modal fade" tabindex="-1" id="modal-form">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Crear cotización</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6>Cliente</h6>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value=""
              id="check-client">
            <label class="form-check-label" for="check-client">
              Nuevo cliente
            </label>
          </div>
          <form id="existing-client">
            <select name="client-id" id="client-id" class="form-select"
              required>
            </select>
          </form>
          <hr>
          <form id="form-cotizacion">
            <h6>Condiciones</h6>
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label for="pay_method" class="form-label">Forma de
                    pago</label>
                  <input type="text" class="form-control" name="pay_method"
                    id="pay_method">
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label for="delivery_time" class="form-label">Plazo de
                    entrega (días)</label>
                  <input type="number" class="form-control"
                    name="delivery_time:number" id="delivery_time">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label for="currency" class="form-label">Moneda</label>
                  <input type="text" class="form-control" name="currency"
                    id="currency" minlength="3" maxlength="3" value="CLP"
                    placeholder="CLP">
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label for="valid_time" class="form-label">Válida
                    hasta (días)</label>
                  <input type="number" class="form-control"
                    name="valid_time:number" id="valid_time" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label for="comments" class="form-label">Comentarios</label>
                  <input type="text" class="form-control" name="comments"
                    id="comments">
                </div>
              </div>
            </div>
            <h6>Detalles</h6>
            <table id="table-detalles" class="table">
              <thead>
                <tr>
                  <th>Detalle</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                  <th>Total</th>
                  <th>Borrar</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </form>
          <table id="table-total" class="table">
            <thead>
              <tr>
                <th>Total neto</th>
                <th>Impuesto (15.25%)</th>
                <th>Total bruto</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input id="total-neto" type="text" class="form-control"
                    disabled>
                </td>
                <td><input id="impuesto" type="text" class="form-control"
                    disabled>
                </td>
                <td><input id="total-bruto" type="text" class="form-control"
                    disabled></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary"
            id="btn-submit">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="hidden-stuff" class="d-none">
  <option value="" id="option-client"></option>
  <table>
    <tbody>
      <tr id="row-cotizaciones">
        <td></td>
        <td></td>
        <td></td>
        <td><a type="button" class="btn btn-secondary btn-sm"
            target="_blank">PDF</a></td>
      </tr>
    </tbody>
  </table>
  <table>
    <tbody>
      <tr id="row-details">
        <td style="width: auto;">
          <input type="text" class="form-control detail-desc"
            name="details[][description]" required>
        </td>
        <td style="width: 10%;">
          <input type="number" class="form-control detail-qty"
            name="details[][qty]:number" required>
        </td>
        <td style="width: 15%;">
          <input type="number" class="form-control detail-price"
            name="details[][price]:number" required>
        </td>
        <td style="width: 15%;">
          <input type="text" class="form-control detail-total" disabled>
        </td>
        <td style="width: 15%;"><button type="button" class="btn btn-warning"
            disabled>X</button></td>
      </tr>
    </tbody>
  </table>
  <form id="new-client">
    <div class="mb-3">
      <label for="name" class="form-label">Razón social /
        Cliente</label>
      <input type="text" class="form-control" name="name" id="name" required>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="person" class="form-label">Atención</label>
          <input type="text" class="form-control" name="person" id="person">
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="position" class="form-label">Cargo</label>
          <input type="text" class="form-control" name="position" id="position">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="address" class="form-label">Dirección</label>
          <input type="text" class="form-control" name="address" id="address">
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="phone" class="form-label">Teléfono</label>
          <input type="text" class="form-control" name="phone" id="phone">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="city" class="form-label">Ciudad</label>
          <input type="text" class="form-control" name="city" id="city">
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="rut" class="form-label">RUT</label>
          <input type="text" class="form-control" name="rut" id="rut" required>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" id="email">
    </div>
  </form>
</div>

<script type="module">
  ///////////
  //AJAX Init
  ///////////
  const initClientes = async () => {
    const clientes = await $.getJSON('api/v1/clientes');
    clientes.forEach(cliente => {
      $('#option-client').clone().removeAttr('id').val(cliente.rut)
        .text(`${cliente.rut} - ${cliente.name}`)
        .appendTo('#existing-client select');
    });
  }

  const initCotizaciones = async () => {
    const cotizaciones = await $.getJSON('api/v1/cotizaciones');
    $('#table-cotizaciones tbody').empty();
    cotizaciones.forEach(cot => {
      const timestamp = new Date(Date.parse(cot.timestamp));
      const timeString = timestamp.toLocaleString('es-CL');

      const row = $('#row-cotizaciones').clone().removeAttr('id');
      const firstCell = row.children().first().text(timeString);
      const secondCell = firstCell.next().text(cot.rut);
      const thirdCell = secondCell.next().text(cot.name);
      const button = thirdCell.next().children('a');
      button.prop('href', `api/v1/cotizaciones/${cot.id}/pdf`);
      row.appendTo('#table-cotizaciones tbody');
    })
  }

  ///////////
  //Functions
  ///////////
  const addRow = () => {
    $('#row-details').clone().removeAttr('id')
      .appendTo('#table-detalles tbody');
  };

  const resetClient = () => {
    $('#new-client input').val('');
  };

  const resetDetails = () => {
    $('#form-cotizacion input').val('');
    $('#table-detalles tbody').empty();
    addRow();
  };

  /** @param {JQuery} row */
  const rowIsEmpty = row => {
    return !rowHasInput(row);
  };

  /** @param {JQuery} row */
  const rowHasInput = row => {
    let bool = false;
    const childrenInput = row.find('input:not([disabled])');
    childrenInput.each((index, input) => {
      if ($(input).val() != '') bool = true;
    })
    return bool;
  };

  /** @param {JQuery} row */
  const rowIsFull = row => {
    let bool = true;
    const childrenInput = row.find('input:not([disabled])');
    childrenInput.each((index, input) => {
      if ($(input).val() == '') bool = false;
    })
    return bool;
  };

  /** @param {JQuery} row */
  const hasRowSiblings = row => {
    return row.siblings().length > 0;
  };

  ///////////
  //Callbacks
  ///////////
  const modalShowEvent = () => {
    resetClient();
    resetDetails();
  };

  /** @param {JQueryEventObject} event */
  const tableDetallesInputEvent = event => {
    const rows = $('#table-detalles tbody tr');
    const lastRow = rows.last();
    const currentRow = $(event.currentTarget).parents('tr');

    currentRow.find('button').prop('disabled', !rowIsFull(currentRow));
    if (rowIsFull(currentRow) && rowHasInput(lastRow)) addRow();
    if (rowIsEmpty(currentRow) && hasRowSiblings(currentRow)
      && !currentRow.is(lastRow)) currentRow.remove();
  }

  /** @param {JQueryEventObject} event */
  const tableDetallesNumberInputEvent = event => {
    const currentRow = $(event.currentTarget).parents('tr');
    const qty = Number(currentRow.find("input.detail-qty").val());
    const price = Number(currentRow.find("input.detail-price").val());

    currentRow.find("input.detail-total").val(qty * price);

    let total = 0;
    $('#table-detalles input.detail-total').each((index, element) =>
      total += Number($(element).val()));
    $('#total-neto').val(total);
    $('#impuesto').val(Math.round(total * 0.1525));
    $('#total-bruto').val(Math.round(total * 1.1525));
  }

  /** @param {JQueryEventObject} event */
  const tableDetallesClickEvent = event => {
    const currentRow = $(event.currentTarget).parents('tr');
    currentRow.remove();
  }

  /** @param {JQueryEventObject} event */
  const btnSubmitClickEvent = event => {
    $('#formulario form').first().trigger('submit');
  }

  /** @param {JQueryEventObject} event */
  const existingClientSubmitEvent = event => {
    event.preventDefault();
    const validity = event.target.reportValidity();
    if (!validity) return;
    const rut = $('#existing-client select').val();
    $('#form-cotizacion').trigger('submit', rut);
  }

  /** @param {JQueryEventObject} event */
  const newClientSubmitEvent = event => {
    event.preventDefault();
    const form = event.target;
    const validity = form.reportValidity();
    if (!validity) return;
    const object = $(form).serializeJSON();

    //TODO validar formulario nuevo cliente
    processRequestButton($('#btn-submit'), $.post({
      url: '/api/v1/clientes',
      contentType: 'application/json',
      data: JSON.stringify(object)
    }), success => $('#form-cotizacion').trigger('submit', object.rut),
      error => {
        console.error(error);
        alert(error.responseJSON.message);
      })
  }

  /** 
  @param {JQueryEventObject} event 
  @param {string} rut
  */
  const formCotizacionSubmitEvent = (event, rut) => {
    event.preventDefault();
    let rows = $('#table-detalles tbody tr');
    let lastRow = rows.last();
    if (!rowHasInput(lastRow)) lastRow.remove();

    const validity = event.target.reportValidity();
    rows = $('#table-detalles tbody tr');
    lastRow = rows.last();
    if (!validity || rows.length == 0) {
      addRow();
      return;
    }

    const object = $('#form-cotizacion').serializeJSON();
    object.rut = rut;

    processRequestButton($('#btn-submit'), $.post({
      url: '/api/v1/cotizaciones',
      contentType: 'application/json',
      data: JSON.stringify(object)
    }), success => {
      bootstrap.Modal.getInstance('#modal-form').hide();
      initCotizaciones();
    },
      error => {
        console.error(error);
        alert(error.responseJSON.message);
      })
  }

  /** @param {JQueryEventObject} event */
  const checkClientChangeEvent = event => {
    const isChecked = $(event.target).is(':checked');
    if (isChecked) {
      $('#new-client').insertAfter('#existing-client');
      $('#existing-client').appendTo('#hidden-stuff');
    } else {
      $('#existing-client').insertAfter('#new-client');
      $('#new-client').appendTo('#hidden-stuff');
    }
  }

  ////////////////
  //Event handlers
  ////////////////
  $('#modal-form').on('show.bs.modal', modalShowEvent);
  $('#table-detalles').on('input', 'input', tableDetallesInputEvent);
  $('#table-detalles').on('input', 'input.detail-qty, input.detail-price',
    tableDetallesNumberInputEvent);
  $('#table-detalles').on('click', 'button', tableDetallesClickEvent);
  $('#btn-submit').on('click', btnSubmitClickEvent);
  $('#existing-client').on('submit', existingClientSubmitEvent);
  $('#new-client').on('submit', newClientSubmitEvent);
  $('#form-cotizacion').on('submit', formCotizacionSubmitEvent);
  $('#check-client').on('change', checkClientChangeEvent);

  //////
  //INIT
  //////
  initClientes();
  initCotizaciones();

</script>