{{>header}}
<header>
    <h1 class="text-center">Valego - Finanzas</h1>
</header>

<section id="acciones">
    <div class="container d-grid gap-2">
        <button class="btn btn-outline-success" type="button">Nueva finanza</button>
    </div>
    
    <div id="cosas"></div>
</section>

<script>
$(() => {
    $.ajax({
        method: 'get',
        url: '/cosas',
        dataType: 'json',
        success: (data) => {
            $("#cosas").append(data.results[0].collection);
            console.log(data.results[0].collection);
        },
        error: (error) => {
            alert("Hubo un error... ¿wtf?")
        }
    });
    
})
</script>
{{>footer}}