<header>
  <h1 class="text-center">Inicio de sesión</h1>
</header>

<form>
  <label for="user">Nombre de usuario</label>
  <input type="text" name="user" id="user">
  <label for="password">Contraseña</label>
  <input type="password" name="password" id="password">
</form>