<head>
  <title>Inicia sesión en MPRC</title>
</head>

<div id="liveAlertPlaceholder" class="position-absolute w-100"></div>
<div class="d-flex flex-column justify-content-center" style="height: 100vh;">
  <div>
    <header>
      <h1 class="text-center">Inicio de sesión</h1>
    </header>

    <div class="col-8 col-md-6 col-xl-4 col-xxl-3 m-auto">
      <form id="login" class="mb-2">
        <div class="mb-3">
          <label class="form-label" for="user">Nombre de usuario</label>
          <input class="form-control" type="text" name="user" id="user" required>
        </div>
        <div class="mb-3">
          <label class="form-label" for="password">Contraseña</label>
          <input class="form-control" type="password" name="password" id="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Ingresar</button>
      </form>
      <p>
        <a href="/register" class="
        link-info 
        link-offset-2 
        link-underline-opacity-25 
        link-underline-opacity-100-hover">Si no tienes una cuenta, crea una aquí</a>
      </p>
    </div>
  </div>

</div>

<script>
  $(document).ready(() => {
    const appendAlert = (message, type) => {
      const wrapper = document.createElement('div')
      wrapper.innerHTML = [
        `<div class="alert alert-${type} alert-dismissible fade show" role="alert">`,
        `   <div>${message}</div>`,
        '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
        '</div>'
      ].join('')

      $('#liveAlertPlaceholder').append(wrapper);
    }

    const notificationCookie = Cookies.get('notification');
    const bannerColorCookie = Cookies.get('banner_color');
    if (notificationCookie) {
      appendAlert(notificationCookie, bannerColorCookie);
    }
  })
  $('#login').on('submit', (event) => {
    event.preventDefault();
    const data = $('#login').serializeArray().reduce((json, { name, value }) => {
      json[name] = value;
      return json;
    }, {});

    $.post({
      url: '/login',
      contentType: 'application/json',
      data: JSON.stringify(data)
    }).then(() => {
      window.location.reload();
    }).fail((error) => {
      console.error(error);
    });
  })
</script>