<style>
  #footer {
    text-align: center;
    color: #666;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: block;
  }
</style>
<div id="footer">Diego Rojas - 2026</div>