<style>
    * {
        /* Usamos 'Roboto' directamente, que es el nombre interno del archivo .ttf */
        font-family: 'Roboto', Arial, sans-serif !important;
        font-size: 12px;
        font-kerning: normal;
        letter-spacing: 0px;
        /* Forzamos a 0 para evitar variaciones */
        text-rendering: optimizeLegibility;
        /* Mejor que geometricPrecision para kerning */
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: none;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    #header-container {
        margin-left: 20px;
        margin-right: 20px;
        background-color: cyan;
        -webkit-print-color-adjust: exact;
        width: 100%;
        /* Usar un line-height relativo ayuda a la consistencia vertical */
        line-height: 1.2;
    }
</style>

<div id="header-container">
    Diego Rojas<br>
    RUT: 17.958.240-6<br>
    +56 9 7942 8444<br>
    Dirección: Aureliano Sánchez 634, La Florida, Santiago, Chile.
</div>